HELP.md

.idea/
*.iml
out/

target/
!.mvn/wrapper/maven-wrapper.jar

.gradle/
build/

*.log

.DS_Store
Thumbs.db

.env
*.local

application-*.yml
application-*.properties

node_modules/
dist/

*.coverage
*.exec

tmp/
temp/
